@import "tailwindcss";
@font-face {
    font-family: 'Minecraft';
    src: url('../src/fonts/Minecrafter-MA3Dw.ttf');
}
@font-face {
    font-family: 'Minecraft1';
    src: url('../src/fonts/MinecraftTen-VGORe.ttf');
}
@font-face {
    font-family: 'Minecraft2';
    src: url('../src/fonts/Minecraftchmc-dBlX.ttf');
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

* {
    @apply max-w-full;
}

body {
    background-image: url("./images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgb(0,0,0, .5);
    @apply min-h-[100vh] w-full mt-14 max-w-full p-2;
}

header {
    @apply fixed w-full top-0 z-1 shadow-2xs shadow-black;
}

.button {
    @apply transition-all duration-500 ease-in-out flex items-center justify-center gap-1 text-stone-50 uppercase flex-row flex-nowrap font-bold p-2 rounded-full text-base;
}

.button:hover {
    @apply bg-blue-600;
}

.button_selected {
    @apply bg-blue-600 cursor-not-allowed;
}

.button_selected img {
    @apply animate-pulse;
}

.icon {
    @apply w-6 h-auto invert;
}

.title {
    @apply text-stone-50 font-bold text-2xl;
}

a>* {
    pointer-events: none;
}

.button_category {
    @apply transition-all duration-500 ease-in-out flex items-center justify-center gap-1 text-stone-50 uppercase flex-col flex-nowrap font-bold p-2 rounded-md text-2xl bg-blue-700 w-full min-w-[8rem];
}

.button_category img {
    @apply w-6 h-auto;
}

.button_category:hover {
    @apply bg-blue-800 brightness-90;
}

.button_category:hover img {
    @apply animate-bounce;
}

.category_selected {
    @apply cursor-not-allowed bg-blue-800 brightness-90;
}

.category_selected img {
    @apply animate-bounce;
}

.card {
    position: relative;
}

.card .description_card {
    display: none;
}

.description_card {
    @apply duration-700 ease-in-out transition-all top-10 rounded-lg bg-blue-950;
}

.card:hover {
    @apply brightness-150 scale-95;
}

.card:hover .description_card {
    display: unset;
}

.loader {
    @apply rounded-full animate-spin bg-transparent border-b-4 border-b-blue-950 w-[3rem] h-[3rem];
}

.selectorsFooter {
    @apply flex justify-center items-center gap-6;
}

.selectorsFooter * {
    @apply duration-500 transition-all ease-in-out;
}

.selectorsFooter div {
    @apply w-[25rem] flex justify-center items-center gap-2 rounded-lg p-2 flex-col;
}

.selectorsFooter h1 {
    @apply font-[Minecraft1] text-blue-50 border-b-2 border-b-blue-400 border-dashed;
}

.selectorsFooter p {
    @apply font-[Minecraft2] text-blue-50 text-2xl text-justify;
}

.selectorsFooter a {
    @apply flex justify-center items-center gap-2 rounded-lg p-4 uppercase bg-blue-900 w-[15rem] shadow-black shadow-md;
}

.selectorsFooter a:hover {
    @apply brightness-80;
}

.selectorsFooter img {
    @apply w-8 h-auto invert;
}

.selectedPage {
    display: unset;
    animation: slideUp 1s ease-in-out forwards;
    @apply duration-500 ease-in-out transition-all;
}