@import "tailwindcss";
@font-face {
    font-family: 'Minecraft';
    src: url('../src/fonts/Minecrafter-MA3Dw.ttf');
}
@font-face {
    font-family: 'Minecraft1';
    src: url('../src/fonts/MinecraftTen-VGORe.ttf');
}
@font-face {
    font-family: 'Minecraft2';
    src: url('../src/fonts/Minecraftchmc-dBlX.ttf');
}

* {
    @apply max-w-full;
}

body {
    background-image: url("./images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgb(0,0,0, .5);
    @apply min-h-[100vh] w-full mt-14 max-w-full p-2;
}

header {
    @apply fixed w-full top-0 z-1 shadow-2xs shadow-black;
}

p {
    @apply text-stone-50;
}

.button {
    @apply transition-all duration-500 ease-in-out flex items-center justify-center gap-1 text-stone-50 uppercase flex-row flex-nowrap font-bold p-2 rounded-full text-base;
}

.button:hover {
    @apply transition-all duration-500 ease-in-out bg-blue-600;
}

.icon {
    @apply w-6 h-auto invert;
}

.title {
    @apply text-stone-50 font-bold text-2xl;
}

a>* {
    pointer-events: none;
}

.button_category {
    @apply transition-all duration-500 ease-in-out flex items-center justify-center gap-1 text-stone-50 uppercase flex-col flex-nowrap font-bold p-2 rounded-md text-2xl bg-blue-700 w-40;
}

.button_category img {
    @apply w-6 h-auto;
}

.button_category:hover {
    @apply bg-blue-500;
}

.button_category:hover img {
    @apply animate-bounce;
}

.category_selected {
    @apply cursor-not-allowed bg-blue-500;
}

.category_selected img {
    @apply animate-bounce;
}